export(draw_mito_map)
export(gene_colors)
export(parse_genbank)
export(plot_mito_genome)
export(spread_labels)

importFrom(circlize, circos.clear)
importFrom(circlize, circos.initialize)
importFrom(circlize, circos.lines)
importFrom(circlize, circos.par)
importFrom(circlize, circos.rect)
importFrom(circlize, circos.text)
importFrom(circlize, circos.track)
importFrom(grDevices, dev.off)
importFrom(grDevices, pdf)
importFrom(grDevices, png)
importFrom(grDevices, tiff)
importFrom(graphics, legend)
importFrom(graphics, par)
importFrom(graphics, text)
importFrom(tools, file_ext)
